 
.social-links li{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-links li a {
    text-decoration: none;
    text-indent: -9999px;
    display: inline-block;
    height: 100%;
    width: 100%;
   }
    
  .icon-facebook{
    background-image:url("https://image.flaticon.com/icons/svg/69/69407.svg");
    background-repeat: no-repeat;
   background-position:center;
    width:60px;
    height:60px;
   }
  .icon-linkedin{
    background-image:url("https://image.flaticon.com/icons/svg/8/8707.svg");
    background-repeat: no-repeat;
    background-position: center;
    width:50px;
    height:60px;
   }
  .icon-instagram{
    background-image: url("https://image.flaticon.com/icons/svg/69/69366.svg");
    background-repeat: no-repeat;
    background-position: center;
    width:60px;
    height:60px;
   }
  
  .icon-twitter{
    background-image: url("https://image.flaticon.com/icons/svg/69/69480.svg");
    background-repeat: no-repeat;
    background-position: center;
    width:60px;
    height:60px;
   }
  .icon-instagram:hover{
    background-image:url("https://image.flaticon.com/icons/svg/174/174855.svg");
  }
  .icon-linkedin:hover{
    background-image:url("https://image.flaticon.com/icons/svg/174/174857.svg");
  }
  
  .icon-facebook:hover{
    background-image:url("https://image.flaticon.com/icons/svg/174/174848.svg");
   }
  .icon-twitter:hover{
    background-image:url("https://image.flaticon.com/icons/svg/174/174876.svg");
   }
  